<h1><%= @user.name %></h1>

<h2>Created Events:</h2>
  <% if @created_events %>
    <ol>
      <% @created_events.each do |event| %>
        <li><%= link_to "#{event.title}: #{event.description}", event_path(event.id) %></li>
      <% end %>
    </ol>
  <% end %>

<h2>Invitations:</h2>
  <% if @invitations %>
    <ol>
      <% @invitations.each do |invitation| %>
        <% unless @user.attendances.include?(Event.find(invitation.event_invited_to_id)) %>
        <li><%= link_to "#{Event.find(invitation.event_invited_to_id).title}: #{Event.find(invitation.event_invited_to_id).description}", event_path(Event.find(invitation.event_invited_to_id)) %></li>
        <% end %>
      <% end %>
    </ol>
  <% end %>

<h2>Upcoming Events:</h2>
<% if @upcoming_events %>
  <ol>
    <% @upcoming_events.each do |event| %>
      <li><%= link_to "#{event.title}: #{event.description}", event_path(event.id) %></li>
    <% end %>
  </ol>
<% end %>

<h2>Previously Attended Events:</h2>
<% if @prev_events %>
  <ol>
    <% @prev_events.each do |event| %>
      <li><%= link_to "#{event.title}: #{event.description}", event_path(event.id) %></li>
    <% end %>
  </ol>
<% end %>