<h2>Event title: <%= @event.title %></h2>
<p><strong>Description</strong>: <%=@event.description%>, <strong>Created by</strong>: <%= @event.creator.name %></p>

<% if event_attendable?(@upcoming, @event, @signed_in_user) %>
  
  <p><%=link_to "Attend Event", event_event_attendances_path(@event.id), method: :post  %></p>

<% elsif invitation_requestable?(@event, @signed_in_user) %>
  
  <p><%= link_to "Request an invite", event_invitation_requests_path(@event.id), method: :post %></p>

<% end %>

<% if @event.creator_id == signed_in_user %>
  <%= form_for :invitation, url: event_invitations_path(@event.id) do |f| %>
    <%= f.label :invitee_name, "Invite a guest (enter user's name):" %>
    <%= f.text_field :invitee_name %>

    <%= f.submit class: "btn btn-primary", id: 'invitation' %>
  <% end %>
<% end %>

<h3>Attending:</h3>
<% if @event.attendees.any? %>
  <ol>
    <% @event.attendees.each do |attendee| %>
      <li><%= link_to "#{User.find(attendee.id).name}", user_path(attendee.id) %></li>
    <% end %>
  </ol>
<% end %>

<% if @event.creator_id == signed_in_user %>
  <h3>Invitation Requests:</h3>
  <ol>
    <% @event.invitation_requests.each do |request| %>
      <% unless Invitation.where("invitee_id = ? AND event_invited_to_id = ?", request.requester_id, @event.id)[0] %>
      <li>
        <%= User.find(request.requester_id).name %>
        <%= form_for :invitation, url: event_invitations_path(@event.id) do |f| %>
          <%= f.hidden_field :invitee_name, value: User.find(request.requester_id).name %>
          <%= f.submit "invite guest", class: "btn btn-primary" %>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ol>
<% end %>


